*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
}
.asle{
    margin-top: 70px;
    margin-left: 550px;
    margin-right: 590px;
    padding: 100px ;
    /* text-shadow: 2px 2px 2px rgb(134, 112, 112); */
    background-color: rgb(215, 231, 231);
    border-radius: 10px;
}
h1{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 60px;
}

.a {
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.aa{
    border-radius: 10px;
     margin-top: 5px;
    padding: 2px;
}

.b {
    font-size: 22px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 25px;
}
.bb{
    border-radius: 10px;
    margin-top: 5px;
    padding: 2px;
}

.cc {
    font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin-top: 80px;
      margin-left: 50px;
      text-align: center;
      padding: 10px;
      border-radius: 28px;
}

