* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: none;
  background-color: #000000;
}
.exitt {
  width: 60px;
  margin-top: 55px;
  margin-left: 1400px;
}
.exit {
    text-align: center;
    color: #ffffff;
  text-align: left;
  border: 3px solid red;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h1 {
  margin-top: 100px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  margin-left: 0px;
}
.namee {
  display: inline;
  font-size: 35px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(178, 1, 1);
}
h2 {
  margin-top: 100px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  margin-left: 0px;
}
h3 {
  margin-top: 100px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  margin-left: 0px;
}
.password {
  display: inline;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(178, 1, 1);
}
.lorem {
  display: inline-block;
  text-align: center;
  width: 1250px;
  margin-left: 100px;
  margin-top: 80px;
  color: rgb(178, 1, 1);
}
